[Desktop Entry]
Comment=Custom KDE lock screen with dynamic backgrounds
Comment[en_US]=Custom KDE lock screen with dynamic backgrounds
Name=Denis Lockscreen
Name[en_US]=Denis Lockscreen
Type=Service
X-KDE-PluginInfo-Author=Denis Khaydarshin
X-KDE-PluginInfo-Email=dkhaydarshin@lifedl.net
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=com.denisk.lockscreen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=https://github.com/DenisKhay/kde-lockscreen
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-Plasma-APIVersion=6.0
